@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Outfit";
    background-color: hsl(212, 45%, 89%);
    max-height: 100vh;
    display: flex;
    align-items: center;
}

.container {
    background-color: white;
    border-radius: 15px;
    margin: 20vh auto;
    padding: 16px 16px 40px 16px;
    min-height: 4px;
    width: 300px;

    display: block;
    text-align: center;

    box-shadow: 0 10px 7px #a7a7a7a5;
    container-type: inline-size;
}

.container img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    /* margin: 15px auto 0; */
}

h1 {
    color: hsl(218, 44%, 22%);
    font-size: 1.3em;
    margin-top: 10px;
}

.container p {
    font-size: 5cqi;
    color: hsl(216, 15%, 48%);
    margin-top: 10px;
}