@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Outfit";
    background-color: hsl(212, 45%, 89%);
}

.container {
    background-color: white;
    width: 300px;
    padding: 16px 16px 40px 16px;
    border-radius: 15px;
    container-type: inline-size;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    box-shadow: 0 20px 15px hsla(0, 1%, 72%, 0.285);
}

.container img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

h1 {
    color: hsl(218, 44%, 22%);
    font-size: 7.5cqi;
}

.container p {
    color: hsl(216, 15%, 48%);
    font-size: 5.5cqi;
    margin-top: 12px;
}

.text {
    margin-top: 12px;
    text-align: center;
    padding-left: 12px;
    padding-right: 12px;
}